// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gif {
  padding: 30px;
  text-align: center;
  opacity: 0.5;
}

.reviews1 {
  text-align: center;
}

.heading {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.deets {
  padding-top: 5px;
}

.plot {
  padding-top: 10px;
  width: 300px;
  margin-left: 40.5%;
  background-color: #f2f2f2;
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
}

.reviewtext {
  width: 300px;
  margin-left: 40.5%;
  background-color: #f2f2f2;
  border-radius: 0 0 5px 5px;
}

.loginwrapper {
  text-align: center;
}

.loginfield {
  padding-top: 5px;
}

.signupwrapper {
  text-align: center;
}

.signup {
  padding-top: 5px;
}

.tmdb {
  text-align: center;
}

.editfield {
  text-align: center;
}

.results {
  text-align: center;
}
