// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: 300;
  padding: 5px;
  letter-spacing: 0.5px;
}

h1, h2, {
  font-weight: 300;
  letter-spacing: 2px;
}

h4 {
  font-weight: 400;
  letter-spacing: 2px;
}
.wrapper {
  display: grid;
      grid-gap: 14px;
      grid-template-columns: repeat(auto-fill, 185px);
      padding-top: 25px;
      margin-left: 5px;
}

img {
  box-shadow: 0px 60px 40px -50px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.1);
  webkit-boxshadow: 0px 60px 40px -50px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.reviews {
  display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

// .your_class{
//   // width:100%;
// }

.item1{
  grid-column: 2/4;
  text-align: center;
}

.item2 {
  grid-column: 2/4;
  text-align: center;
}

.item3 {
  grid-column: 2/4;
  text-align: center;
  padding: 20px;
}

.item4 {
  grid-column: 2/4;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px 5px 0 0;
}

.item5 {
  grid-column: 2/4;
  text-align: center;
  // background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
  background-color: #f2f2f2;

}

.item6 {
  grid-column: 2/4;
  text-align: center;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.item7 {
  grid-column: 2/4;
  text-align: center;
  margin-top: 5px;
}

.item8 {
  grid-column: 2/4;
  text-align: center;
  padding: 20px;
  // background-color: #f2f2f2;
}

.item9 {
  grid-column: 2/4;
  text-align: center;
}

.item10 {
  grid-column: 2/4;
  text-align: center;
}

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 0 0 0 0;
}


nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #848484;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #919191;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #023f1c;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.stroke {
  text-align: center;
  padding-top: 25px;
}
